html,
body {
	height: 100%;
	box-sizing: border-box;
}

* {
	margin: 0%;
	box-sizing: border-box;
	font-family: 'Roboto', 'Arial', sans-serif;
	color: white;
}

.h-100 {
	height: 100%;
}
/* ----------最上欄--------- */
#header {
	width: 100%;
	height: 10%;
	/* background: lightblue; */
	position: fixed;
	/* left: 0;
	top: 0; */

	font-size: 0;
	/* flex-wrap: nowrap; */
	display: flex;
	flex-direction: row;
	align-items: center;
}

#header .box {
	width: 25%;
	height: 100%;
	position: relative;
	display: inline-block;
	background: rgb(47, 68, 255);
	font-size: 1.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}
#header .box2 {
	width: 50%;
	height: 100%;
	position: relative;
	display: inline-block;
	background: greenyellow;
	font-size: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}
#header .box3 {
	width: 25%;
	height: 100%;
	position: relative;
	display: inline-block;
	background: rgb(245, 47, 255);
	font-size: 1.5rem;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

#header .box i {
	width: 10%;
}
#header .box .box1-1 {
	margin-left: 6%;
}

#header .box .box1-2 {
	margin-left: 4%;
}
#header .box img {
	width: 40%;
	height: 40%;
	/* display: inline-block; */
	/* position: absolute; */
	margin: auto;
}

#head .box2 input {
	font-size: 1rem;
	outline: 10px;
}

#header .box3 > div {
	margin-left: 6%;
}
#header .box3-1 {
	margin: 6%;
	font-size: 2rem;
}

/* -----------側邊欄-------- */

#sidebar {
	/* view port height */
	width: 15%;
	height: calc(100vh - 10%);
	background: rgb(31, 30, 30);
	position: fixed;
	left: 0;
	top: 10%;
	font-size: 0;
	display: inline-block;
	overflow: auto;
}

#sidebar .menu {
	width: 90%;
	height: 100%;
	font-size: 1rem;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	display: inline-block;
}
#sidebar .menu div {
	position: relative;
	line-height: 2rem;
	/* color: white; */
}

#sidebar .box {
	width: 95%;
	height: 2rem;
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	white-space: nowrap; /*不換行 */
	overflow: hidden;
	text-overflow: ellipsis;
}

#sidebar .box div:nth-child(1) {
	width: 20%;
	height: 2rem;
	display: inline-block;
	text-align: center;
}

#sidebar .box div:nth-child(2) {
	width: 75%;
	height: 2rem;
	display: inline-block;
}

#sidebar .menu .box:hover {
	background: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
}

#sidebar .hr {
	width: 95%;
	height: 1rem;
	display: inline-block;
	box-sizing: border-box;

	font-size: 0;
	/* background: palevioletred; */
}

#sidebar hr {
	width: 95%;
	opacity: 0.5;
	font-size: 1rem;
}
#sidebar::-webkit-scrollbar {
	width: 10px; /* 設置卷軸的寬度 */
}

#sidebar::-webkit-scrollbar-thumb {
	background-color: #888; /* 設置卷軸的滑塊顏色 */
	border-radius: 6px; /* 設置卷軸滑塊的圓角 */
}

#sidebar::-webkit-scrollbar-track {
	background-color: #212020; /* 設置卷軸的軌道顏色 */
}

#sidebar pre {
	font-size: 13px;
	opacity: 0.5;
}

/* ----------關鍵字 --------- */
#content-top {
	width: calc(100% - 15%);
	height: calc(100vh - 95%);
	background: gold;
	left: 15%;
	position: relative;
	top: 10%;
}
#content-top .keyword {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
	background: rgb(31, 30, 30);
	position: relative;
	font-size: 0;
}
#content-top .keyword li {
	display: inline-block;
	font-size: 14px;
	margin: 0.1rem 0.5rem;
	padding: 0.3rem 0.5rem;
	text-align: center;
	border-radius: 6px;
	background: rgba(179, 174, 171, 0.8);
}

#content-top .keyword li:hover {
	background: rgba(242, 238, 236, 0.765);
}
/* --------影片欄位----------- */
#content {
	width: calc(100% - 15%);
	height: calc(100vh - 15%);
	position: relative;
	display: inline-block;
	left: 15%;
	top: 10%;
	/* background: lightgreen; */
	background: rgb(31, 30, 30);
	overflow: auto;
}
#content::-webkit-scrollbar {
	width: 10px; /* 設置卷軸的寬度 */
}

#content::-webkit-scrollbar-thumb {
	background-color: #888; /* 設置卷軸的滑塊顏色 */
	border-radius: 6px; /* 設置卷軸滑塊的圓角 */
}

#content::-webkit-scrollbar-track {
	background-color: #212020; /* 設置卷軸的軌道顏色 */
}
#content .row {
	width: 24%;
	height: 50%;
	display: inline-block;
	position: relative;
	/* background: rgb(216, 113, 154); */
	background: rgb(31, 30, 30);
	font-size: 0;
	margin-top: 0.5%;
	margin-left: 0.5%;
	border-radius: 5px;
}

#content .row .pic {
	width: 100%;
	height: 65%;
}
#content .row .pic img {
	width: 100%;
	/* height: 100%; */
	/* 照片邊框怎麼用都很奇怪 */
	border-radius: 10px;
	/* object-fit: contain; */
}

#content .col1 {
	width: 15%;
	height: 35%;
	display: inline-block;
	position: relative;
	top: -14%;
	/* background: rgb(56, 42, 165); */
	background: rgb(31, 30, 30);
	font-size: 1rem;
}
#content .col1-1 {
	width: 80%;
	height: auto;
	/* background: brown; */
	background: rgb(31, 30, 30);
	border-radius: 50%;
	position: relative;
	margin: auto;
}
#content .col1-1 img {
	width: 100%;
	height: auto;
	border-radius: 50%;
}
#content .col2 {
	width: 80%;
	height: 35%;
	display: inline-block;
	position: relative;
	margin-left: 5%;
	box-sizing: border-box;
	/* background: rgb(134, 42, 165); */
	background: rgb(31, 30, 30);
	font-size: 1rem;
}
#content .col2 .col2-1 {
	width: 100%;
	height: 40%;
	/* background: rgb(50, 205, 50); */
	background: rgb(31, 30, 30);
	/* 兩行字以後就省略掉字 */
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
#content .col2 .col2-2 {
	width: 100%;
	height: 60%;
	/* background: rgb(50, 205, 197); */
	background: rgb(31, 30, 30);
	font-size: 12px;
	position: relative;
	padding: 10px 0;
}
